<h1>HIDDEN NINJA LISTS</h1>
<p><%= link_to "See Active Lists", root_path %>
<div class="inactive-lists">
  <p>
  <b>Inactive Lists</b>
  </p>
  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        <th>Title</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
    <% @inactive.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.active %> </td>
        <td><%= link_to("Edit", edit_list_path(list)) %>
        <%= link_to "Details", list %>
        <%= link_to "Delete", list_path(list), method: :delete %>


      </td>
    </tr>
  <%end%>
</div>

