<h1>OH MAN LIST DETAILS</h1>
<%= link_to "Active", list_path(params[:id]) %>
<p>
<input type="button" value="Hide/Unhide" id="hide-button" />
</p>
<%= form_for(@todo) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :desc %>
  <%= f.text_field :desc %>

  <%= f.label :due_date %>
  <%= f.date_field :due_date %>
  <%= f.hidden_field(:parent_id, value: params[:id]) %>
  <%= f.hidden_field(:active, value: true) %>
  <%= f.submit "Create A New Todo"%>
<% end %>
<ul>
  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Active</th>
        <th>Due Date</th>
        <th>Photo</th>
        <th></th>
        <th>Make Active</th>
      </tr>
    </thead>
    <tbody>
    <% @todos.each do |todo| %>
      <div id="todo-item">
        <tr>
          <td>
            <li class="todo" style="<%= "display:none" if !todo.active %>" id="<%= "inactive" if !todo.active %>">
            <%= check_box :complete, todo.id, :id => todo.id, :class => "complete"%>
            </li>
          </td>
          <td><%= todo.title %></td>
          <td> <%=todo.desc %></td>

          <td><%= todo.active %></td>

          <td><%= todo.due_date.strftime("%m/%d/%Y") %></td>
          <td><%= image_tag(todo.photo.avatar.url) if todo.photo %></td>

          <td><%= link_to "Edit", edit_todo_path(todo) %>
          <%= link_to("Delete Photo", photo_path(todo.photo), method: :delete) if todo.photo %>
        </td>
        <td>
          <%= link_to "Make Active", todo_path(:todo => {:id => todo.id.to_s, :active => true}), method: :put, remote: true %>
        </tr>
      </div>
    <%end%>

    <script charset="utf-8">
$(document).ready(function() {

$(function(){
  $("#myTable").tablesorter();
});
function Show_Div() {
  var inactive = $("#inactive");
if (false == $("#inactive").is(':visible')) {
    $("#inactive").show();
  }
  else {
    $("#inactive").hide();
  }
}
$(".complete").on('change', function () {
  var id = parseInt($(this).attr("id"))
  var todo = $(this).parent()
  $.ajax('/api/todos/' + id, {
    method: 'put',
    data: {
    active: false
    },
    success: function(response) {
      todo.hide();
    }
  })
});

$("#hide-button").on("click", Show_Div);
});
    </script>
