<h1> LIST OF LISTS </h1>
<p> <%= link_to("New List", new_list_path) %></p>
<input type="button" value="Hide/Unhide" id="hide-button" />

<div class="active-lists">
  <p>
  <b>Active Lists</b>
  </p>
  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        <th>Title</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
    <% @active.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.active %> </td>
        <td><%= link_to("Edit", edit_list_path(list)) %>
        <%= link_to "Details", list %></td>
    </tr>
  <%end%>
</div>

<div id="inactive" style="display:none">
  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        <th>Title</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
    <% @inactive.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.active %> </td>
        <td><%= link_to("Edit", edit_list_path(list)) %>
        <%= link_to "Details", list %></td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>
<!--
<script charset="utf-8">
$(document).ready(function() {
  $("#myTable").tablesorter();

function Show_Div() {
  var inactive = $("#inactive");
if (false == $("#inactive").is(':visible')) {
    $("#inactive").show();
  }
  else {
    $("#inactive").hide();
  }
}
$("#hide-button").on("click", Show_Div);
});
</script>
-->
